<!DOCTYPE html>
<html lang="en">
<!-- http://192.168.50.127:5000 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
            margin: 20px;
        }

        #startBreakSection {
            margin-bottom: 20px;
        }

        button {
            padding: 10px;
            font-size: 16px;
            margin: 5px;
        }

        #startTimerBtn,
        #removeTimerBtn {
            background-color: #4CAF50;
            color: white;
            border: none;
        }

        #breakTimerBtn,
        #resetBreakBtn {
            background-color: #008CBA;
            color: white;
            border: none;
        }

        #statusDisplay {
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
</head>

<body>

    <h1>Pomodoro Timer</h1>
    <div id="displayScenes">
        <button id="weatherButton" onclick="set_weather_scene()">Set Weather Scene</button>
        <button id="clockButton" onclick="set_clock_scene()">Set Clock Scene</button>
    </div>
    <div id="statusDisplay"></div>

    <div id="startSequenceSection">
        <button id="startSequenceBtn" onclick="startPomodoroSequence()
        ">
            Start Pomodoro Sequence
        </button>
    </div>
    <div id="timerInput">
        <button id="pomodoroBtn" onclick="
    startTimer('start_pomodoro')
    //<!-- updateTimerDisplay() -->
    ">
            Start Pomodoro
        </button>
        <button id="breakBtn" onclick="startTimer('start_break')">
            Start Break
        </button>
        <label for="timeInput">Enter time in HH:MM:SS format:</label>
        <input type="time" id="timeInput" step="1">
    </div>

    <button id="pauseBtn" onclick="pauseTimer()">Pause Timer</button>
    <button id="resumeBtn" onclick="resumeTimer()">Resume Timer</button>
    <button id="removeTimerBtn" onclick="removeTimer()">Remove Timer</button>
    <div id="timerDisplay"></div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>

        var isTimerRunning = localStorage.getItem('isTimerRunning') === 'true';
        var timerType = localStorage.getItem('timerType');
        var remainingTime = parseInt(localStorage.getItem('remainingTime')) || 0;
        window.onload = updateTimerDisplay()
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize Flatpickr for the time input
            flatpickr("#timeInput", {
                enableTime: true,
                noCalendar: true,
                enableSeconds: true,
                time_24hr:true,
                //<!-- dateFormat: "H:i:S", -->
                altFormat: "H:i:S", // Display format in the input field
                altInput: true, 
                // You can customize more options based on your needs
            });
        });
        function startPomodoroSequence() {
            if (isTimerRunning) {
                updateStatusDisplay('Timer is already running. Please wait for it to complete.');
                return;
            }
            else {
                disableButtons();
                // Send a request to start the pomodoro sequence
                fetch('http://192.168.50.127:5000/start_pomodoro_sequence', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        updateStatusDisplay(data.status);
                        isTimerRunning = true;
                        updateTimerDisplay();
                    })
                    .catch(error => console.error('Error:', error));
            }
        }

        function startTimer(endpoint) {
            if (isTimerRunning) {
                updateStatusDisplay('Timer is already running. Please wait for it to complete.');
                return;
            }
            var timeInput = document.getElementById("timeInput").value;

            // Check if a valid time is entered
            if (!isValidTimeFormat(timeInput)) {
                alert("Invalid time format. Please enter in HH:MM:SS format.");
                return;
            }

            var timeParts = timeInput.split(":");
            // Set default values for missing fields
            var hours = timeParts[0] || "00";
            var minutes = timeParts[1] || "00";
            var seconds = timeParts[2] || "00";

            // Convert time to seconds
            var duration = parseInt(hours, 10) * 3600 + parseInt(minutes, 10) * 60 + parseInt(seconds, 10);


            if (duration !== null && duration !== "") {
                // Disable buttons during the timer
                disableButtons();
                fetch(`http://192.168.50.127:5000/${endpoint}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: 'duration=' + duration,
                })
                    .then(response => response.json())
                    .then(data => {
                        updateStatusDisplay(data.status);
                        isTimerRunning = true;
                        updateTimerDisplay();
                    })
                    .catch(error => console.error('Error:', error));
            }
        }

        function wait() {
            setTimeout(function () {
                console.log("Executed after 1 second");
            }, 1000);
        }

        function pauseTimer() {
            if (isTimerRunning) {
                fetch('http://192.168.50.127:5000/pause_timer', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => updateStatusDisplay(data.status))
                    .then(document.getElementById('resumeBtn').disabled = false)
                    .catch(error => console.error('Error:', error));
            } else {
                updateStatusDisplay('No timer is running.');
            }
        }

        function updateTimerDisplay() {
            var timerDisplay = document.getElementById('timerDisplay');

            var intervalId = setInterval(function () {

                fetch('http://192.168.50.127:5000/get_timer_state')
                    .then(response => response.json())
                    .then(timerState => {
                        var minutes = Math.floor(timerState.remaining_time / 60);
                        var seconds = timerState.remaining_time % 60;
                        disableButtons()
                        if (timerState.paused) {
                            timerDisplay.innerHTML = "Timer paused.";
                            document.getElementById('pauseBtn').disabled = true;
                            document.getElementById('resumeBtn').disabled = false;
                            isTimerRunning = false;
                        } else {
                            timerDisplay.innerHTML = `Time remaining: ${minutes} minutes ${seconds} seconds`;
                            isTimerRunning = true;
                            document.getElementById('resumeBtn').disabled = true;
                        }

                        if (timerState.remaining_time <= 0) {
                            clearInterval(intervalId);
                            timerDisplay.innerHTML = "No running timer.";
                            isTimerRunning = false;
                            enableButtons();
                            document.getElementById('resumeBtn').disabled = true;
                            return;
                        }
                    })
                    .catch(error => console.error('Error:', error));

            }, 1000);

        }

        function updateStatusDisplay(message) {
            var statusDisplay = document.getElementById('statusDisplay');
            statusDisplay.innerHTML = message;
        }

        function resumeTimer() {
            if (isTimerRunning) {
                updateStatusDisplay('Timer is already running. Please wait for it to complete.');
                return;
            }

            fetch('http://192.168.50.127:5000/resume_timer', { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    updateStatusDisplay(data.status);
                    isTimerRunning = true;
                })
                .catch(error => console.error('Error:', error));
        }

        function removeTimer() {
            // Send a request to remove the timer
            fetch('http://192.168.50.127:5000/remove_timer', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
                .then(response => response.json())
                .then(data => {
                    updateStatusDisplay(data.status);
                    isTimerRunning = false;
                    updateTimerDisplay();
                })
                .catch(error => console.error('Error:', error));
        }
        // Function to validate the time format
        function isValidTimeFormat(input) {
            var timeRegex = /^([01]\d|2[0-3]):([0-5]\d):([0-5]\d)$/;
            return timeRegex.test(input);
        }

        function enableButtons() {
            document.getElementById('pomodoroBtn').disabled = false;
            document.getElementById('breakBtn').disabled = false;
            document.getElementById('startSequenceBtn').disabled = false;
            document.getElementById('pauseBtn').disabled = true;
        }

        function disableButtons() {
            document.getElementById('pomodoroBtn').disabled = true;
            document.getElementById('breakBtn').disabled = true;
            document.getElementById('startSequenceBtn').disabled = true;
            document.getElementById('pauseBtn').disabled = false;
        }
        function set_weather_scene() {
            // Make a fetch request to call the set_weather_scene endpoint
            fetch('http://192.168.50.127:5000/set_weather_scene', {
                method: 'GET', // or 'GET' depending on your server setup
                headers: {
                    'Content-Type': 'application/json',
                    // Add any additional headers if required
                },
                // You can include a request body if needed
                // body: JSON.stringify({ key: 'value' }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle the response data if needed
                    console.log(data);
                })
                .catch(error => {
                    // Handle errors
                    console.error('Error:', error);
                });
        }
        function set_clock_scene() {
            // Make a fetch request to call the set_weather_scene endpoint
            fetch('http://192.168.50.127:5000/set_clock_scene', {
                method: 'GET', // or 'GET' depending on your server setup
                headers: {
                    'Content-Type': 'application/json',
                    // Add any additional headers if required
                },
                // You can include a request body if needed
                // body: JSON.stringify({ key: 'value' }),
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle the response data if needed
                    console.log(data);
                })
                .catch(error => {
                    // Handle errors
                    console.error('Error:', error);
                });
        }
    </script>

</body>

</html>